body {
  background-color:greenyellow;
  font-family: fantasy;
  color: black;
}

.App {
  text-align: center;
  background-color:greenyellow;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.profile-img {
  height: 10px;
  width: 3px;
}